In [1]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

In [2]:
my_list

[1, 2, 3]

In [3]:
my_list1 = ['A string',23,100.232,'o']

In [4]:
my_list

[1, 2, 3]

In [5]:
my_list1

['A string', 23, 100.232, 'o']

In [6]:
len(my_list)

3

In [7]:
len(my_list1)

4

In [8]:
mylist2= my_list + my_list1

In [9]:
# Grab everything UP TO index 3
my_list[:3]

[1, 2, 3, 'A string', 23, 100.232, 'o']

In [11]:
# Grab element at index 0
mylist2[0]

1

In [12]:
# Grab index 1 and everything past it
mylist2[1:]

[2, 3, 'A string', 23, 100.232, 'o']

In [13]:
# Grab everything UP TO index 3
mylist2[:3]

[1, 2, 3]

In [14]:
mylist2

[1, 2, 3, 'A string', 23, 100.232, 'o']

In [15]:
mylist2 + ['new item']

[1, 2, 3, 'A string', 23, 100.232, 'o', 'new item']

In [16]:
mylist2

[1, 2, 3, 'A string', 23, 100.232, 'o']

In [17]:
# Reassign
mylist2 = mylist2 + ['add new item permanently']

In [18]:
mylist2

[1, 2, 3, 'A string', 23, 100.232, 'o', 'add new item permanently']

In [19]:
# Make the list double
mylist2 * 2

[1,
 2,
 3,
 'A string',
 23,
 100.232,
 'o',
 'add new item permanently',
 1,
 2,
 3,
 'A string',
 23,
 100.232,
 'o',
 'add new item permanently']

In [20]:
mylist2*3

[1,
 2,
 3,
 'A string',
 23,
 100.232,
 'o',
 'add new item permanently',
 1,
 2,
 3,
 'A string',
 23,
 100.232,
 'o',
 'add new item permanently',
 1,
 2,
 3,
 'A string',
 23,
 100.232,
 'o',
 'add new item permanently']

In [21]:
mylist2

[1, 2, 3, 'A string', 23, 100.232, 'o', 'add new item permanently']

In [22]:
mylist2.reverse()

In [23]:
mylist2

['add new item permanently', 'o', 100.232, 23, 'A string', 3, 2, 1]

In [24]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

In [25]:
# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]