In [7]:
#Range operator, generates lists
l1 = list(range(0,50))

In [4]:
l1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [8]:
l1 = range(0,11)

In [9]:
l1

range(0, 11)

In [10]:
range(0,11)

range(0, 11)

In [11]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
l1 = list(range(0,11))

In [13]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
# Third parameter is step size!
# step size just means how big of a jump/leap/step you 
# take from the starting number to get to the next number.

l2 = list(range(0,11,2))

In [15]:
l2

[0, 2, 4, 6, 8, 10]

In [16]:
l3= list(range(0,101,4))

In [17]:
l3

[0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100]

In [18]:
index_count = 0

for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [19]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [20]:
'x' in ['x','y','z']

True

In [21]:
'x' in [1,2,3]

False

In [22]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
1 in l1

True

In [24]:
20 in l1

False

In [25]:
min(l1)

0

In [26]:
max(l1)

10

In [27]:
from random import shuffle

In [30]:
# This shuffles the list "in-place" meaning it won't return
# anything, instead it will effect the list passed
shuffle(l2)

In [31]:
l2

[0, 8, 4, 2, 10, 6]

In [32]:
from random import randint

In [33]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

78

In [34]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

92

In [35]:
input('Enter Something into this box: ')

Enter Something into this box: Javier Sada

'Javier Sada'